<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
          <rule name="EdwardsWordpressRewrite1" enabled="true" stopProcessing="true">
          <match url="^de(.*)" />
          <action type="Rewrite" url="https://ltthde.wpengine.com/{R:0}" />
        </rule>
          <rule name="EdwardsWordpressRewrite2" enabled="true" stopProcessing="true">
          <match url="^it(.*)" />
          <action type="Rewrite" url="https://itthit.wpengine.com/{R:0}" />
        </rule>
        <rule name="EdwardsWordpressRewrite" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="https://tavitodayuk.wpengine.com/{R:0}" />
        </rule>
        </rules>
    </rewrite>
  </system.webServer>
</configuration>